<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Author Homepage" content="Author homepage for microbloggers" />
    <meta name="author" content="Author" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <title>Microblogger</title>
  </head>
  <body>
    <!-- masthead code -->
    <div id="masthead" class="masthead-container">
      <div id="start">
        <div id="tag">
          <h3>Microblogger:</h3>
        </div>
        <div id="page type">
          <p>Author Homepage</p>
        </div>
      </div>
      <div id="end">
        <a href="/author/settings">Settings</a
        ><a href="/author/logout">Logout</a>
      </div>
    </div>
    <!-- End of masthead code -->

    <!-- banner code -->
    <div id="banner" class="banner-container">
      <div id="bannerHeader">
        <p><%= bannerSettingsData.banner_header %></p>
      </div>
      <div id="bannerSubheader">
        <p><%= bannerSettingsData.banner_subheader %></p>
      </div>
      <div id="authorName">
        <p><%= bannerSettingsData.author_name %></p>
      </div>
    </div>
    <!-- End of banner code -->

    <!-- draft article section code -->
    <div id="draftArticlesSection">
      <h2>Draft Articles</h2>
      <table id="draftArticlesTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% draftArticles.forEach(article => { %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.subtitle %></td>
            <td><%= article.created %></td>
            <td><%= article.lastModified %></td>
            <td>
              <button
                onclick="window.location.href = '/author/article/edit?id=<%= article.id %>'"
              >
                Edit
              </button>
              <form
                action="/author/article/publish/<%= article.id %>"
                method="post"
                id="publishForm<%= article.id %>"
              >
                <button type="submit" name="publish" id="publishButton">
                  Publish
                </button>
              </form>
              <form
                action="/author/article/delete/<%= article.id %>"
                method="post"
              >
                <button type="submit" name="delete">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <button
      id="createNewDraft"
      onclick="window.location.href = '/author/create-new-draft'"
    >
      Create New Draft
    </button>
    <!-- End of article draft section code -->

    <!-- published article section code -->
    <div id="publishedArticlesSection">
      <h2>Published Articles</h2>
      <table id="publishedArticlesTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Created</th>
            <th>Published</th>
            <th>Likes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% publishedArticles.forEach(article => { %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.subtitle %></td>
            <td><%= article.created %></td>
            <td><%= article.published %></td>
            <td>
              <% if (article.likes !== undefined) { %> <%= article.likes %> <% }
              else { %> 0 <% } %>
            </td>
            <td>
              <button onclick="shareArticle('<%= article.id %>')">Share</button>
              <form
                action="/author/publishedArticle/delete/<%= article.id %>"
                method="post"
              >
                <button type="submit" name="delete">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- End of published article section code -->

    <script>
      function shareArticle(articleId) {
        const articleLink = `http://localhost:3000/reader/article?id=${articleId}`;
        alert(articleLink);
      }
    </script>
    
  </body>
</html>
