<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Author Homepage" content="Author homepage for microbloggers" />
    <meta name="author" content="Author" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <title>Microblogger</title>
  </head>
  <body>
    <!-- masthead code -->
    <div id="masthead" class="masthead-container">
      <div id="start">
        <div id="tag">
          <h3>Microblogger:</h3>
        </div>
        <div id="page type">
          <p>Author Homepage</p>
        </div>
      </div>
      <div id="end">
        <a href="/author/home">back</a>
      </div>
    </div>
    <!-- End of masthead code -->

    <!-- banner code -->
    <div id="banner" class="banner-container">
      <div id="bannerHeader">
        <p><%= bannerSettingsData.banner_header %></p>
      </div>
      <div id="bannerSubheader">
        <p><%= bannerSettingsData.banner_subheader %></p>
      </div>
      <div id="authorName">
        <p><%= bannerSettingsData.author_name %></p>
      </div>
    </div>
    <!-- End of banner code -->

    <!-- Article editing container -->
    <div id="articleEdit" class="articleEdit-container">
      <div id="dateAndStatus" class="dateAndStatus-container">
        <p><b>Created: </b> <%= articleData.created %></p>
        <p><b>Last Modified: </b> <%= articleData.lastModified %></p>
        <p><b>Status: </b>draft</p>
      </div>
      <form
        action="/author/article/edit/<%= articleData.id %>"
        method="post"
        id="articleForm"
      >
        <div id="articleEditTitle">
          <label for="articleTitle">Title:</label>
          <input
            type="text"
            id="articleTitle"
            name="title"
            placeholder="Please write your title here."
            value="<%= articleData.title %>"
          />
        </div>
        <div id="articleEditSubtitle">
          <label for="articleSubtitle">Subtitle:</label>
          <input
            type="text"
            id="articleSubtitle"
            name="subtitle"
            placeholder="Please write your subtitle here."
            value="<%= articleData.subtitle %>"
          />
        </div>
        <div id="articleEditBody">
          <label for="articleBody">Body:</label>
          <textarea id="articleBody" name="body" placeholder="Please write your article here."><%= articleData.body %></textarea>
        </div>
        <button type="submit" id="updateButton">Update</button>
      </form>
    </div>
    <!-- End of Article editing container -->

    <!-- windows alert when the update button is hit -->
    <script>
      function showAlert(message) {
        alert(message);
      }
    
      // Event listener for the update button
      document.getElementById('updateButton').addEventListener('click', function () {
        showAlert('Article successfully updated!');
      });
    </script>
    <!-- End of windows alert when the update button is hit -->
  </body>
</html>
