<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
  <body>
    <%- include('navigation.ejs') %> <%- include('sidebar.ejs') %>
    <div class="page-content page-no-sidebar">
        <div class= "mx-auto"  style="width: 450px;">
            <h1 class="text-center">Leaderboard: Overall</h1>
            <h6 class="text-center">Ranked by number of likes</h6>

          <!--  <h4 class="text-center">Viewing Leaderboard for:
            
              <div class="category-buttons">
                <button class="category-button btn btn-primary" data-category="Beef">Chicken</button>
                <button class="category-button btn btn-primary" data-category="Beef">Beef</button>
                <button class="category-button btn btn-primary" data-category="Pork">Pork</button>
                <button class="category-button btn btn-primary" data-category="Seafood">Seafood</button>
                <button class="category-button btn btn-primary" data-category="Vegetarian">Vegetarian</button>
            </div>
              -->
            </div>
        <div class="container-lg pt-2">
        <div class= "leaderboard-info mb-4 row g-0 border">

             <div class= "leaderboard-recipes col p-2 d-flex flex-column">
                <h3> All Recipes </h3>
                <div class="container-lg">
                    
                    <% recipes.forEach(function(recipe){ %>
                    <div class="p-2"> <%- include('leaderboard-content.ejs', {recipe}); %> </div> 
                    <% }); %>
                    
                </div> 
            </div> 

         </div>
        </div>
    </div>
        <%- include('footer.ejs') %> 
        </div>
        <div class="black-overlay"></div>
            <!-- page scripts -->
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/likes.js"></script>
    
  </body>
  </html>