<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <%- include('navigation.ejs') %> <%- include('sidebar.ejs') %>
    <div class="page-content page-no-sidebar">
        <div class= "mx-auto"  style="width: 450px;">
            <h1 class="text-center">Leaderboard: Overall</h1>
            <h6 class="text-center">Ranked by number of likes</h6>

            <h4 class="text-center">Viewing Leaderboard for: </h4>
            <div class= "btn text-center">
                <button class="btn btn-primary" type="button" id="groupButtons">
                    Chicken
                </button>
                <button class="btn btn-primary" type="button" id="groupButtons">
                    Beef
                </button>
                <button class="btn btn-primary" type="button" id="groupButtons">
                    Pork
                </button>
                <button class="btn btn-primary" type="button" id="groupButtons">
                    Seafood
                </button>
                <button class="btn btn-primary" type="button" id="groupButtons">
                    Vegetarian
                </button>
                <p></p>
                <button class="btn btn-primary" type="button" id="groupButtons">
                    Dessert
                </button>
                 
                
            </div>

            </div>
        <div class="container-lg pt-2">
        <div class= "leaderboard-info mb-4 row g-0 border">
            <div class= "col-sm-2 pt-2">
                <h3> Index </h3>
             </div>

             <div class= "leaderboard-recipes col p-2 d-flex flex-column">
                <h3> All Recipes </h3>
                <div class="container-lg">
                    <%- include('leaderboard-content.ejs', img); %> 
                    <%- include('leaderboard-content.ejs', img); %> 
                    <%- include('leaderboard-content.ejs', img); %> 
                    <%- include('leaderboard-content.ejs', img); %> 
                    <%- include('leaderboard-content.ejs', img); %> 
    
                </div>
    
            
            </div>
            <div class= "likes col-lg-2 d-flex flex-column">
                <h3> Likes </h3>
                <div class="container-lg">
                    <%- include('likes-content.ejs', "likeCount"); %>
                </div>
                <button  class="btn btn-primary"> Comments </button> 
                
            </div>




        </div>
        </div>


        <%- include('footer.ejs') %> 
        </div>
        <div class="black-overlay"></div>
            <!-- page scripts -->
    <script src="/scripts/sidebar.js"></script>
    
    
    </script>
  </body>
  </html>