<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <%- include('navigation.ejs') %> <%- include('sidebar.ejs') %>
    <div class="page-content page-no-sidebar">
      <div class="container-lg pt-4">
        <% recipes.forEach(function(recipe){ %>
          <%- include('home-card.ejs', {recipe}); %> 
        <% }); %>
      </div>
      <%- include('footer.ejs') %>
    </div>
    <div class="black-overlay"></div>
    <!-- page scripts -->
    <script src="/scripts/sidebar.js"></script>
  </body>
</html>
