<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head.ejs') %>
</head>

<body>
  <%- include('navigation.ejs') %> <%- include('sidebar.ejs') %>

      <div class="page-content page-no-sidebar m-5">
        <article>
          <div class="row">
            <div class="d-flex align-items-center justify-content-between mt-5">
              <h1>
                <%= recipe.Title %>
              </h1>              
            </div>
            <p>By <%= recipe.firstName %> <%= recipe.lastName %></p>
            <div class="col-md-4">
              <img class="img-fluid" src="/images/<%= recipe.Image_Name %>.jpg" " alt=" <%=recipe.Title %>" />
            </div>
          </div>
          <!-- Like button -->
          
          <div class="recipe_like_button" >
            <button class="btn btn-transparent mt-2" id="likeButton" data-recipe-id="<%= recipe.id %>">
              <i class="bi bi-bookmark-heart p-2" style="font-size: 1.5rem;"></i> Like
              <span id="likesCount"><%= recipe.likes %></span> 
            </button>
          </div>
          
          <!-- article content -->
          <div class="mb-4 mt-4">
            <div class="row">
              <!-- Ingredients Column -->
              <div class="col-md-6">
                <h3>Ingredients</h3>
                <ol class="list-group">
                  <% recipe.Cleaned_Ingredients.forEach(function (ingredient) { %>
                    <li class="list-group-item">
                      <%= ingredient %>
                    </li>
                    <% }); %>
                </ol>
              </div>

              <!-- Instructions Column -->
              <div class="col-md-6">
                <h3>Instructions</h3>
                <ol class="list-group">
                  <% recipe.Instructions.forEach(function (instruction) { %>
                    <li class="list-group-item">
                      <%= instruction %>
                    </li>
                    <% }); %>
                </ol>
              </div>
            </div>
          </div>
        </article>

        <!-- Comments section -->
        <div class="mt-4 mb-4">
          <h2>Comments</h2>
          <div class="comments">
            <!-- Add comments here -->
          </div>

          <!-- Submit comment form -->
          <form method="POST" action="/recipe/<%= recipe.id %>/commenting">
            <div class="mb-3">
              <label for="comment">Add a comment:</label>
              <textarea class="form-control h-100 mt-2" id="comment" rows="3" name="new_comment" type="text" style="border: solid rgb(97, 135, 110) 2px;"></textarea>
            </div>
            <div class="d-flex justify-content-between">
              <div></div>
              <!-- Empty div to push the button to the right -->
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <!-- Posted comments -->
          <% comments.forEach(function(comment){ %>
            <div class="bg-light block p-4 mb-4">
                <% comment.comment_content.split("\n").forEach(function(p){ %>
                    <p class="mb-6"><%= p %></p>
                    <% }) %>
                <span><sub><b>Posted: </b><date><%= comment.posted_timestamp %></date></sub></span>
            </div>
        <% }) %>
        </div>
      </div>

      <%- include('footer.ejs') %>
      <div class="black-overlay"></div>
      <script src="/scripts/likes.js"></script>
      <script src="/scripts/sidebar.js"></script>
</body>

</html>