<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="Author Homepage settings"
      content="Author homepage settings for microbloggers"
    />
    <meta name="author" content="Author" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <title>Microblogger</title>
  </head>
  <body>
    <!-- Masthead -->
    <div id="masthead" class="masthead-container">
      <div id="start">
        <div id="tag">
          <h3>Microblogger:</h3>
        </div>
        <div id="page type">
          <p>Author Homepage</p>
        </div>
      </div>
      <div id="end">
        <a href="/author/home">back</a>
      </div>
    </div>
    <!-- End of Masthead -->

    <!-- Banner -->
    <div id="banner" class="banner-container">
      <div id="bannerHeader">
        <p><%= bannerSettingsData.banner_header %></p>
      </div>
      <div id="bannerSubheader">
        <p><%= bannerSettingsData.banner_subheader %></p>
      </div>
      <div id="authorName"><p><%= bannerSettingsData.author_name %></p></div>
    </div>
    <!-- End of Banner -->

    <!-- Banner Edit Form -->
    <div id="bannerEdit" class="bannerEdit-container">
      <form
        action="/author/settings"
        method="post"
        id="settingsForm"
        name="settingsForm"
        onsubmit="return validateForm()"
      >
        <div id="bannerEditHeader">
          <label for="blogTitle">Blog Title:</label>
          <input
            type="text"
            id="blogTitle"
            name="banner_header"
            placeholder="Please write your blog title here."
            value="<%= bannerSettingsData.banner_header %>"
          />
        </div>
        <div id="bannerEditSubheader">
          <label for="blogSubtitle">Blog Subtitle:</label>
          <input
            type="text"
            id="blogSubtitle"
            name="banner_subheader"
            placeholder="Please write your blog subtitle here."
            value="<%= bannerSettingsData.banner_subheader %>"
          />
        </div>
        <div id="bannerEditauthorName">
          <label for="authorNameField">Author Name:</label>
          <input
            type="text"
            id="authorNameField"
            name="author_name"
            placeholder="Please write the name of the blog's author here."
            value="<%= bannerSettingsData.author_name %>"
          />
        </div>
        <button type="submit">Update</button>
      </form>
    </div>
    <!-- End of Banner Edit Form -->
  </body>

  <!-- Script to make sure that none of the fields are empty upon submission -->
  <script>
    function validateForm() {
      let blogTitle = document.forms["settingsForm"]["banner_header"].value;
      let blogSubtitle =
        document.forms["settingsForm"]["banner_subheader"].value;
      let authorName = document.forms["settingsForm"]["author_name"].value;

      if (blogTitle === "" || blogSubtitle === "" || authorName === "") {
        alert("Please complete all fields before submitting.");
        return false;
      }

      return true;
    }
  </script>
  <!-- End of script to make sure that none of the fields are empty upon submission -->
</html>
