<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head.ejs') %>
</head>

<head>
  <%- include('head.ejs') %>
</head>

<body>
  <%- include('navigation.ejs') %> <%- include('sidebar.ejs') %>
      <div class="page-content page-no-sidebar">
        <div class="container mt-5 mb-3">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <h2 class="mb-4">Account Settings</h2>
              <div class="text-start">
                <i class="bi bi-person-circle" style="font-size: 5rem;"></i>
              </div>
              <form method="POST" action="/update-blog-settings">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Enter your First Name"
                    value="<%= userProfile.firstName %>" name="firstName" />
                </div>
                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Enter your Last Name"
                    value="<%= userProfile.lastName %>" name="lastName" />
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter your Username"
                    value="<%= userProfile.username %>" name="username" />
                </div>
                <div class="mb-3">
                  <label for="bio" class="form-label">Bio</label>
                  <textarea class="form-control" id="bio" rows="8" placeholder="Enter your bio"
                    name="bio"><%= userProfile.bio %></textarea>
                </div>
                <button type="submit" class="btn btn-primary" onclick="settingsUpdated()">
                  Save Changes
                </button>
              </form>
              <div class="mt-4 text-start">
                <a href="#" class="btn btn-danger">Log Out</a>
                <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                  Delete Account
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Delete Account Modal -->
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">
                  Delete Account
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete your account? This action cannot
                be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cancel
                </button>
                <button type="button" class="btn btn-danger">
                  Delete Account
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('footer.ejs') %>
        <div class="black-overlay"></div>
        <!-- page scripts -->
        <script>
          function settingsUpdated() {
            alert("Settings updated.")
          }
        </script>
        <script src="/scripts/sidebar.js">
        </script>
</body>

</html>